*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #78b43d;
    width: 200px;
}
nav ul{
    list-style-type: none;
    border: 1px solid pink;
    

}
nav a{
    display: block;
    padding: .5rem .5rem;
    text-decoration: none;
    color: white;

}
nav ul li:last-child{
    border-bottom: none;
}
nav ul li{
    border: 1px solid white;
}
nav ul li a:hover{
    background-color: black;
    color: white;


}
nav ul li:first-child a{
    background-color: black;
    text-transform: uppercase;

}