*{
    margin: 0;
    margin: 0;
}
div ul{
    margin:0 auto;
    display: flex;
    justify-content:left;

}
li{
    text-align: center;
    width: 70px;
    list-style-type: none;
    border: 1px solid gray;
    padding: 10px;
    margin: 5px;
    border-radius: 10%;
    background-color: gainsboro;
}
a{
   
    text-decoration: none;
}
ul li .selected {
    border-bottom: solid 1px #fff;
    background-color: antiquewhite !important;
    color: #fff !important;
}
