
div ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 50%;
}
div ul li a{
    padding: .2rem;
    text-decoration: none;
    border: 1px solid gray;
}
div{
    padding: 1rem;
}
#main{
    width: 30%;
    border: 1px solid gray;
    padding: .5rem;
    margin: 0 auto;
}
#content{
    font-weight: bolder;
}
